<section>
  <h1>Generell</h1>
    Die Eigentumsauskunft ist 

  <h1>Daten</h1>

  Die Eigentum Datensätze stammen aus dem
  <a
    href="https://www.map.apps.be.ch/pub/synserver?project=a42pub_oereb_oeffen_DE&client=flexjs&language=de"
    target="_blank"
    >Geoportal des Kantons Bern</a
  >. Die Eigentumsauskunft kann im Portal mit der Funktion "Auskunft Eigentum"
  druchegführt werden. Der hier aufgeführte Datensatz wurde im 4ten Quartal 2022
  abgerufen und wird nicht aktualisiert.

  Weitere Datensätze zu Besetzungen Aktionen etc. wurden manuell eingepflegt oder von der Platform <a href="https://bernaktiv.ch/">Bern Akiv</a> zur Verfügung gestellt.

  https://goo.gl/maps/bPkuWoR8ppSdVyn16


  Die Rohdaten können unter XXXXXX abgerufen werden.

  <h1>Kontakt</h1>
  XXXXXXX

</section>
