<section>
  <h1>Generell</h1>
  smart text here

  <h1>Daten</h1>

  Die Eigentum Datensätze stammen aus dem öffentlichen
  <a
    href="https://www.map.apps.be.ch/pub/synserver?project=a42pub_oereb_oeffen_DE&client=flexjs&language=de"
    target="_blank"
    >Geoportal des Kantons Bern</a
  >. Die Eigentumsauskunft kann im Portal mit der Funktion "Auskunft Eigentum"
  durchgeführt werden. Der hier aufgeführte Datensatz wurde im 4ten Quartal 2022
  abgerufen und wird nicht aktualisiert. Weitere Datensätze zu Besetzungen
  Aktionen etc. wurden manuell eingepflegt oder von der Platform
  <a href="https://bernaktiv.ch/">Bern Akiv</a> zur Verfügung gestellt.

  <h3>Inkludierte Gemeinden</h3>
  <mat-list role="list">
    <mat-list-item role="listitem">Bern (ID: 351)</mat-list-item>
    <mat-list-item role="listitem">Ostermundigen(ID: 363)</mat-list-item>
    <mat-list-item role="listitem">Ittigen (ID: 362)</mat-list-item>
    <mat-list-item role="listitem">Köniz (ID: 355)</mat-list-item>
    <mat-list-item role="listitem">Muri (ID: 356)</mat-list-item>
    <mat-list-item role="listitem">Zollikofen (ID: 361)</mat-list-item>
  </mat-list>

  <h2>Download</h2>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle
        ><a
          target="_blank"
          href="https://raw.githubusercontent.com/freiraumbern/map/main/src/assets/aggregated-results.json"
          >Egrids</a
        ></span
      >
      <span matListItemLine
        >Egrid Liste mit Eigentümer*innen Informationen</span
      >
    </mat-list-item>

    <mat-list-item>
      <span matListItemTitle>
        <a
          target="_blank"
          href="https://raw.githubusercontent.com/freiraumbern/map/main/src/assets/by-owners.json"
          >Eigentümer*innen</a
        >
      </span>
      <span>Daten Aggregiert nach Eigentümer*innen, </span>
    </mat-list-item>

    <mat-list-item>
      <span matListItemTitle>
        <a
          target="_blank"
          href="https://raw.githubusercontent.com/freiraumbern/map/main/src/assets/squats.json"
          >Besetzungen</a
        >
      </span>
      Liste von Besetzungen der letzten Jahre
    </mat-list-item>
  </mat-list>

  <h1>Kontakt</h1>
  <mat-icon matListItemIcon>email</mat-icon>
  <a href="mailto: freiraum@ungehorsam.ch">freiraum@ungehorsam.ch</a>
</section>
