<h1 mat-dialog-title>Unlock The City</h1>
<div mat-dialog-content>
  <p>
    Wem gehört die Stadt? Wer besitzt die Stadt? Wer darf und kann in der Stadt
    wohnen? Wer darf sich in der Stadt aufhalten, ungehindert durch die Strassen
    ziehen und in Pärken zusammen kommen? Wer muss keine Angst haben,nachts
    umherzuziehen? Wer muss keine Angst davor haben, von der Polizei
    kontrolliert zu werden?
  </p>

  <p id="lock-container">
    <img src="assets/lock.png">
  </p>

  <p>
    Diese Karte zeigt Grundnbucheinträge der Stadt Bern und umliegender
    Gemeinden auf. Dazu kommen Besetzungen der letzten Jahre, Femizide und
    Koloniale Orte die du erkunden kannst.
  </p>

  <p>
    Das Programm und Mobitext findest du auf dem
    <a href="https://blog.unlock-the.city">Blog</a>.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close>Loslegen</button>
</div>
