<h1 mat-dialog-title>Unlock The City</h1>
<div mat-dialog-content>
  <p>
    Wem gehört die Stadt? Wer darf sich frei darin bewegen? Kampagne zur Raumfrage mit Vorträgen, Aktionen und Besetzungen und Onlinekarte.
  </p>

  <p id="lock-container">
    <img src="assets/lock.png">
  </p>

  <p>
    Diese Karte zeigt Grundbucheinträge zusammengefasst nach Anzahl Einträgen pro Person/Organisation der Stadt Bern und umliegender
    Gemeinden. Dazu kommen Besetzungen der letzten Jahre und Femizide die du erkunden kannst.

    Im Filter oben kannst du dir anschauen wer wie viel der Stadt innehat!
  </p>

  <p>
    Das Programm und Inhalte findest du auf dem
    <a href="https://blog.unlock-the.city">Blog</a>.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close>Erkunden</button>
</div>
